name: "Build"
on:
  workflow_dispatch:
  push:
    branches: [main]
  schedule:
    - cron: "0 21 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v6
        with:
          repository: v2fly/domain-list-community
          path: domain-list-community
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v14
        with:
          name: blip
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build
        run: |
          mkdir -p release
          nix develop --command gen-domains domain-list-community release
      - name: Release
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: release
          folder: release
          single-commit: true
